.DS_Store
Build
iOS Framework
Hoard.xcodeproj/project.xcworkspace/xcshareddata
Hoard.xcodeproj/project.xcworkspace/xcuserdata
/Mac Framework
/Hoard.xcodeproj/xcuserdata/ben.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
